<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Table</title>
</head>
<body>
    
    <!-- Attempt 1
    <table>
    {% for key, value in users.items %}
        <tr>
            <th> {{ key }}</th>
            <td> {{ value }}</td>
        </tr>
    {% endfor %}
    </table>-->

    <!-- Attempt 2 (py4u.net/discuss/21127) BEGINS TO WORK
    <table>
        <tr>
        {% for dictionary in users %}
            {% for key in dictionary %}
                <tr>
                    <td>
                        <p>{{ key }}</p>
                    </td>
                    <td>
                        <p>{{ dictionary[key] }}</p>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tr>
    </table>-->

    <!-- Attempt 4 (see CSS for Attempt 3)-->

    <table>
        <thead>

            <tr>
                {% for user in users %}
                    {% for k, v in user.items() %}
                    <th>blue {{ key }}</th>
                    <tr>
                        <td> skadoo {{ user[key] }}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tr>

        </thead>
        
        
        </table>


</body>
</html>