<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List example</title>
</head>
<body>
    <p>users = [ </p>
        
    <p>
        {'first_name' : 'Michael', 'last_name' : 'Choi'},
    </p>   
    <p>
        {'first_name' : 'John', 'last_name' : 'Supsupin'},
    </p>
    <p>
        {'first_name' : 'Mark', 'last_name' : 'Guillen'},
    </p> 
    <p>
        {'first_name' : 'KB', 'last_name' : 'Tonel'}
    </p>  
    <p>
        ]
    </p>
    
    
</body>
</html>